* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

div {
    display: block;
}

:root {
    --font-family-primary: sans-serif;
}

header {
    display: flex;
    position: sticky;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    height: 40px;
    padding-left: 150px;
    padding-right: 150px;
}

.C-list {
    display: flex;
    font-family: 13px sans-serif;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a:link {
    text-decoration: none;
    color: #222222;
    font-family: var(--font-family-primary);
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.header-menu-item {
    color: #222222;
    margin: -12px 30px;
    padding: 5px 15px;
    font-weight: 650;
}

.other-section{
    display: flex;
}

.section {
    display: flex;
}

ul {
    list-style: none;
}

.telli {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3858f5;
    color: #fff;
    border: none;
    font-family: var(--font-family-primary);
    font-size: 12px;
    border-radius: 100px;
    line-height: 1;
    text-align: center;
    height: 30px;
    width: 79px;
    padding: 8px 5px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf2f4;
    border: none;
    color: #222;
    font-family: var(--font-family-primary);
    font-size: 12px;
    border-radius: 100px;
    line-height: 1;
    text-align: center;
    height: 32px;
    width: 79px;
    padding: 8px 5px;
    list-style: none;
}

.separator {
    width: 1px;
    height: 24px;
    margin-right: 20px;
    margin-left: 20px;
    background: #222;
    list-style: none;
}
