* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

:root {
    --font-family-primary: sans-serif;
}

header {
    display: flex;
    position: sticky;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
    height: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.C-list {
    display: flex;
    font-family: 13px sans-serif;
    list-style: none;
}

a:link {
    text-decoration: none;
    color: #222222;
    font-family: var(--font-family-primary);
}

a:visited, a:hover, a:active {
    text-decoration: none;
}

.header_list {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.header-menu-item {
    color: #222222;
    position: relative;
    margin: 24px, 15px;
    padding: 5px 10px;
    font-weight: 650;
    font-size: 13px;
}

.other-section{
    display: flex;
}

.section {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: var(--font-family-primary);
    border-radius: 100px;
    line-height: 1;
    text-align: center;
    height: 30px;
    width: 79px;
    padding: 8px 5px;
    list-style: none;
    margin: 0px 5px;
    font-weight: 600;
}

.telli {
    background-color: #3858f5;
    color: #fff;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf2f4;
    border: none;
    color: #222;
    font-size: 12px;
}

.separator {
    width: 1px;
    height: 24px;
    margin-right: 20px;
    margin-left: 20px;
    background: #222;
    list-style: none;
}

.search_burger {
    display: flex;
    justify-content: center;
}
